<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We need notification permissions to wake you up with your personalized affirmations each morning.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>audio</string>
	</array>
</dict>
</plist>
